// Background Colors
$black-background-color: black;
$placeholder-image-grey: grey;

// Text Colors
$white-text: white;
$text-color: black;
$heading-color: black;

// Link Colors
$disabled-link-color: grey;

// Sizes
$bp-xs: "min-width: 375px" !default;
$bp-sm: "min-width: 512px" !default;
$bp-md: "min-width: 768px" !default;
$bp-lg: "min-width: 1024px" !default;
$bp-xl: "min-width: 1280px" !default;
$bp-xxl: "min-width: 1440px" !default;

// Typography
@font-face {
  font-family: "Sailec-Bold";
  src: url("/en/fonts/Sailec/Sailec-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/en/fonts/Inter/Inter-VariableFont.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/en/fonts/Inter/static/Inter-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/en/fonts/Inter/static/Inter-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/en/fonts/Inter/static/Inter-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("/en/fonts/Inter/static/Inter-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

$font-family: "Inter", Helvetica, Arial, sans-serif !default;
// H1 H2 H3 Button
$font-heading-button: "Sailec-Bold", Helvetica, Arial, sans-serif !default;
// Font weight 700
$font-bold: "Inter-Bold", Helvetica, Arial, sans-serif !default;
// Font weight 600
$font-semibold: "Inter-SemiBold", Helvetica, Arial, sans-serif !default;
// Font weight 500
$font-medium: "Inter-Medium", Helvetica, Arial, sans-serif !default;
// Font weight 400
$font-regular: "Inter-Regular", Helvetica, Arial, sans-serif !default;
